p{color:red}
h1{color:blue}
h2{color: #000;}

   
.hola {color: red;}
.hola{ width: 100px;px heigt: 200px;}
 body{
    background:url(https://www.facebook.com/OfficialBloodStrikeNetEase/?locale=fr_FR);
 background-size: cover;
 background-attachment: fixed;
 background-position: center center;
}






