h1 { color: orange;}

h2{ color: cyan;}

.Komi-san {width: 250px; height: 410px;}

.Nokotan {width: 250px; height: 410px;}

.Trebor {width: 250px; height: 250px;}

.bochhi {width: 500px; height: 250px;}